<div class="adminx-content">
    <div class="adminx-main-content">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb adminx-page-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pagina Principal</li>
                </ol>
            </nav>

            <div class="pb-3">
                <h1>Inicio</h1>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-grid">
                        <div class="table-responsive-md">
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





